<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801182969519-hpdvcifae1co4kuu6h7i2kp7nohbs6sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801182969519-hpdvcifae1co4kuu6h7i2kp7nohbs6sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDBj95iLmRUaNBWICv8-_yJGFEcJvy0V_c</string>
	<key>GCM_SENDER_ID</key>
	<string>801182969519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fakenewsfilter</string>
	<key>PROJECT_ID</key>
	<string>fake-news-filter</string>
	<key>STORAGE_BUCKET</key>
	<string>fake-news-filter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801182969519:ios:66518102841357b257ae5a</string>
</dict>
</plist>